.rightbar{
  margin-left: 20px;
  padding: 10px 0px 10px 5px ;
  width: 400px;
}
  .recommendations{
    display: flex;
    flex-direction: column;
  }
    .recommendations-header{
      display: flex;
      align-items: center;
      position: relative;
      margin-bottom: 15px;
    }
      .recommendations-type-selected{
        background-color: black;
        color: white;
        font-size: 14px;
        padding: 6px 10px;
        border-radius: 30px;
        margin-right: 8px;
        cursor: pointer;
      }
      .recommendations-type{
        background-color: #0000001a;
        color: black;
        font-size: 14px;
        padding: 6px 10px;
        border-radius: 30px;
        margin-right: 8px;
        width: max-content;
        border: 1px solid rgb(177, 177, 177);
        cursor: pointer;
        transition: all 0.25s;
      }
        .recommendations-type:hover{
          background-color: #00000026;
        }
      .recommendations-type-more{
        position: absolute;
        right: -12px;
        border-radius: 50px;
        cursor: pointer;
      }
    

    .recommendation{
      display: flex;
      position: relative;
      width: 100%;
      margin: 5px 0px;
      text-decoration: none;
      color: black;
      cursor: default;
    }
      .thumbnail,
      .thumbnail-img{
        width: 170px;
        height: 95.5px;
        object-fit: cover;
        position: relative;
        cursor: pointer;
      }
        .thumbnail-action-1,
        .thumbnail-action-2{
          display: flex;
          position: absolute;
          height: 30px;
          width: 30px;
          border-radius: 5px;
          background-color: rgba(255,255,255,0.9);
          opacity: 0;
          cursor: pointer;
          transition: all 0.25s;
          transition-delay: 0.25s;
        }
          .thumbnail-action-img{
            height: 100%;
            width: 100%;
          }

          .thumbnail-action-1{
            top: 7px;
            right: 0px;
          }
          .thumbnail-action-2{
            top: 40px;
            right: 0px;
          }

        .thumbnail-action-tooltip{
          position: absolute;
          right: 0px;
          background-color: rgba(255,255,255,0.9);
          padding: 5px;
          width: max-content;
          font-size: 14px;
          border-radius: 2px;
          opacity: 0;
          white-space: nowrap;
          pointer-events: none;
          transition: all 0.25s;
          transition-delay: 0.25s;
        }

          .thumbnail-action-1:hover .thumbnail-action-tooltip,
          .thumbnail-action-2:hover .thumbnail-action-tooltip{
            opacity: 1;
            right: 40px;
          }

          .thumbnail:hover .thumbnail-action-1,
          .thumbnail:hover .thumbnail-action-2{
            right: 7px;
            opacity: 1;
          }
        
        .recommendation-duration{
          position: absolute;
          bottom: 2px;
          right: 2px;
          background-color: black;
          color: white;
          font-size: 12px;
          padding: 2px 5px;
          border-radius: 2px;
        }

      .recommendation-details{
        display: flex;
        flex-direction: column;
        margin-left: 5px;
      }
        .recommendation-title{
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 5px;
          cursor: pointer;
        }
        .recommendation-author{
          position: relative;
          width: fit-content;
          font-size: 13px;
          font-weight: 500;
          color: gray;
          cursor: pointer;
        }
          .recommendation-author:hover .video-tooltip{
            top: -40px;
            opacity: 1;
          }
        .recommendation-stats{
          font-size: 12px;
          color: gray;
        }
      .recommendation-action{
        position: absolute;
        right: -5px;
        top: -2px;
        height: 30px;
        width: 30px;
        opacity: 0;
        cursor: pointer;
        transition: all 0.5s;
      }

        .recommendation:hover .recommendation-action{
          opacity: 1;
        }